--- 
Resources: 
  nodessecurityrsg: 
    Properties: 
      GroupDescription: "node security group"
      SecurityGroupIngress: 
        - 
          FromPort: 5672
          IpProtocol: tcp
          SourceSecurityGroupId: 
            ? "Fn::GetAtt"
            : 
              - AWSEBSecurityGroup
              - GroupId
          ToPort: 5672
      VpcId: 
        ? "Fn::GetOptionSetting"
        : 
          OptionName: VPCId
    Type: "AWS::EC2::SecurityGroup"
option_settings: 
  ? "aws:autoscaling:launchconfiguration"
  : 
    EC2KeyName: eb-cli
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: t2-micro
    SecurityGroups: 
      - nodessecurityrsg.GroupId
